body {
  font-family: 'Inter', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: block;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 120px;
  background: transparent; 
  border: none;            
}
.product-card {
  width: 320px;
  padding: 16px 18px;  
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.10);
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px
}

.sneaker {
  width: 220px;
  height: auto;
  margin-bottom: 10px;  
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #334155;
}

.product-price {
  font-size: 15px;
  color: #64748b;
  margin-bottom: 10px;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

.cart-count {
  font-size: 20px;
  font-weight: 800;
  color: #3b82f6;
}

.add-button {
  background-color: #2563eb;
  color: white;
  border-radius: 100px;
  font-weight: bold;
}

.remove-button {
  background-color: #ef4444;
  color: white;
  border-radius: 100px;
  font-weight: bold;
}
.products{
    display: flex;
    justify-content: center;
    gap: 30px; 
    padding: 40px 20px;
}
